.loading {
  display: flex;
  align-items: center;
  justify-content: center;
  height: calc(100vh - (148px - var(--spinner-size)));
}

.loading-spinner {
  font-size: var(--spinner-size);
  color: var(--spinner-color);
  animation: rotate 2s infinite;
}

@keyframes rotate {
  from {
    transform: rotate(0);
  }
  to {
    transform: rotate(360deg);
  }
}
