:root {
  --gray-1: #8a8a8a;
  --gray-2: #cdcdcd;
  --red-1: #d62a2a;
}

body {
  min-height: 100vh;
}

.api-rate-error {
  font-weight: 600;
  color: var(--red-1);
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.api-no-results {
  font-weight: 600;
  max-width: 300px;
  margin: auto;
  text-align: center;
}

.text-color {
  color: #000;
}

.box-shadow {
  box-shadow: rgb(0 0 0 / 40%) 0px 10px 20px, rgb(0 0 0 / 23%) 5px 5px 2px;
}

.font-small {
  font-weight: 400;
  font-size: 0.7rem;
}

.font-medium {
  font-weight: 600;
  font-size: 0.9rem;
}

.font-large {
  font-weight: 800;
  font-size: 1.2rem;
}

.d-flex {
  display: flex;
}

.ml-10 {
  margin-left: 10px;
}
.mr-10 {
  margin-right: 10px;
}
